---
const {title, description, permalink} = Astro.props;
---
  
<html lang="fr">
<head>
    <!-- Global Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />


    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={permalink} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://astro.build/social.jpg?v=1" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={permalink} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="https://astro.build/social.jpg?v=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/style/global.css">
</head>

<body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">Accueil</a>
          </li>
          <li>
            <a href="/html">HTML</a>
          </li>
          <li>
            <a href="/css">CSS</a>
          </li>
          <li>
            <a href="/javascript">Javascript</a>
          </li>
        </ul>
      </nav>
    </header>
    
    <main>
      <slot/>
    </main>
</body>
</html>
